.sideToDoForm
{
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    
}

.sideToDoForm section
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    margin-bottom: 2em;
    width: auto;
}

.sideToDoForm section textarea
{
    background-color: white;
    border-radius: 8px;
    padding: .6em 1em;
    resize: none;
    
}


.sideSectionName textarea
{
    height: 35px;
    padding-top: 8px;
}

.sideSectionDesc textarea
{
    height: 150px;
}

.filters div
{
    width: max-content;
} 

.sideSectionSelect
{
    position: relative;
}

.sideSectionSelect::after
{
    content: "";
    position: absolute;
    right: 1em;
    pointer-events: none;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid black;
    top: 65%;
}

.sideSelect
{
    appearance: none;
    font-family: "Raleway";
    font-weight: 700;
    height: 35px;
    padding-left: 1em;
    border-radius: 8px;
    outline: var(--color5) solid 2px;
    cursor: pointer;
}

.sideSelect option
{
    background-color: white;
    font-weight: 500;

}

.sideDivButton
{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.sideCloseButton
{
    background-color: var(--color5);
    width: 40%;
    height: 65px;
    border-radius: 8px;
    font-size: 16rem;

}

.sideSaveButton
{
    background-color: var(--color1);
    width: 55%;
    height: 65px;
    border-radius: 8px;
    font-size: 16rem;
}

.sideFormError
{
    margin-top: 2em;
    color: rgb(247, 47, 47);
    font-size: 16rem;
}